*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    /* scrollbar-width: none;  */
}

body{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%; 
    /* width: 1500px; */
    min-height: 100%;
    /* overflow-x: hidden; 
    overflow-y: hidden;  */
    animation: fadeIn 2000ms;
    /* min-width: 200px; */ 
}

.banner{
    position: relative;
    z-index: -1;
}

.bannerimg{
    position: relative;
    display: block;   
    width: 100%;  
}

.closeBanner{
    height: 0px;
}

h1{
    position: absolute;
    margin: 10px auto 0px auto;
    left: 0;
    right: 0;
    font-size: 60px;
    font-family: freehand;
    font-weight: 700;
    text-align: center;
    color: white;
    text-shadow: 2px 2px rgba(115, 155, 211, 0.541);
    
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    background-color: #66c9ff;
    font-family: freehand;
    font-weight: 500;
}

.menu{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 40px;
    color: white; 
    white-space: pre-wrap; 
}

.selected{
    background-color: white;
    color: rgb(100, 200, 255);
    transition-property: background-color, color;
    transition-delay: 0ms, 0ms;
    transition-duration: 250ms, 500ms;
}

.deselected{
    background-color: inherit;
    color: white;
    transition-property: background-color, color;
    transition-delay: 0ms, 0ms;
    transition-duration: 250ms, 500ms;
}

.opening{
    flex-grow: 0;
    font-size: 0px; 
    color: transparent;
    transition-property: flex-grow, color, font-size;
    transition-delay: 250ms, 0ms, 250ms;
    transition-duration: 500ms, 250ms, 500ms;
} 

.closing{
    flex-grow: 1;
    font-size: 40px;
    color: white;
    transition-property: flex-grow, color, font-size;
    transition-delay: 250ms, 500ms, 0ms;
    transition-duration: 250ms, 250ms, 500ms;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    flex-grow: 0;
    font-size: 0px;
    white-space: pre-wrap;
}

.paragraphOpened{
    /* flex-grow: 5; */
    height: 3000px;
    align-items: flex-start;
    text-align: center;
    background-color: white;
    padding: 0px 30px 0px 50px; 
    color: rgb(100, 200, 255);
    font-size: 20px; 
    text-decoration: none;
    transition-property: flex-grow, color, font-size;
    transition-delay: 250ms, 750ms, 250ms;  
    transition-duration: 500ms, 250ms, 500ms;
}

.linkOpened{
    background-color: white;
    color: rgb(100, 200, 255);
    font-size: 40px; 
    text-decoration: none;
    transition-property: flex-grow, color, font-size;
    transition-delay: 250ms, 750ms, 250ms;  
    transition-duration: 500ms, 250ms, 500ms;
}

.linkClosed{
    font-size: 0px;
    color: transparent;
    transition-property: flex-grow, color, font-size;
    transition-delay: 250ms, 0ms, 250ms;  
    transition-duration: 250ms, 250ms, 250ms;
}

.opened{
    flex-grow: 5;
    background-color: white;
    color: rgb(100, 200, 255);
    font-size: 40px; 
    text-decoration: none;
    transition-property: flex-grow, color, font-size;
    transition-delay: 250ms, 750ms, 250ms;  
    transition-duration: 500ms, 250ms, 500ms;
}

.closed{
    flex-grow: 0;
    font-size: 0px;
    color: transparent;
    transition-property: flex-grow, color, font-size;
    transition-delay: 250ms, 0ms, 250ms;  
    transition-duration: 250ms, 250ms, 250ms;
}

.topBottom{
    animation-timing-function: ease-in-out;
}

.middle{
    animation-timing-function: linear;
} 

.copyright{
    font-size: 20px;
}

.copyrightClosed{
    font-size: 0px;
}

.box{
    background-color: red;
    display: inline-block;
    height: 60px;
    resize: none;
}

.buttonOpen{
    position: sticky;
    background-color: black;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    top: 600px;
}

.buttonClosed{
    position: sticky;
    background-color: green;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    /* top: 600px; */
    rotate: 0deg;
    opacity: 0;
}

.buttonOpen::after{
    content: "";
    display: inline-block;
    background-color: red;
    width: 20px;
    height: 5px;
    border-radius: 5px;
    rotate: -45deg;
    position: absolute;
    right: -9px;
    top: 9px;
}

.buttonOpen::after{
    content: "";
    display: inline-block;
    background-color: blue;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    /* rotate: -45deg; */
    position: absolute;
    right: -5px;
    top: 9px;
}

.buttonOpen::after{
    content: "";
    display: inline-block;
    background-color: green;
    width: 20px;
    height: 5px;
    border-radius: 5px;
    rotate: -90deg;
    position: absolute;
    right: 4.5px;
    top: 7.5px;
}


@font-face {
    font-family: 'freehand';
    src: url(fonts/Caveat-VariableFont_wght.ttf);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}